---
layout: layouts/base.njk
pagination:
  data: collections.categoryList
  size: 1
  alias: category
permalink: "/categories/{{ category.slug }}/"
eleventyComputed:
  title: "{{ category.name }}"
---
<h1>{{ category.name }}</h1>
{% set categoryPosts = collections.posts | postsWithCategory(category) %}
<ol class="post-list compact">
  {% for post in categoryPosts %}
    <li>
      <time datetime="{{ post.date | dateIso }}">{{ post.date | dateYmd }}</time>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </li>
  {% endfor %}
</ol>
