---
layout: layouts/base.njk
title: Түлхүүр үг
permalink: /tags/
---
<h1>Түлхүүр үг</h1>
<ul class="tag-list">
  {% for tag in collections.tagList %}
    {% set taggedPosts = collections.posts | postsWithTag(tag) %}
    <li><a href="{{ ('/tags/' + (tag | tagSlug) + '/') | url }}">{{ tag }}</a> <span>({{ taggedPosts.length }})</span></li>
  {% endfor %}
</ul>
