---
layout: layouts/base.njk
title: Гарчиг
permalink: /topics/
eleventyExcludeFromCollections: true
---
<p><a href="{{ '/contents/' | url }}">Гарчиг</a> хуудас руу шилжүүлж байна.</p>
<meta http-equiv="refresh" content="0; url={{ '/contents/' | url }}">
